/**{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
*/
body{
    background:linear-gradient(#399cbd,#9ed1e1, #399cbd)
}

h1, h2, p, form{
    text-align: center;
}

ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

li{
    list-style-type: none;
    margin:1rem;
    display:block;
}

.med-list-item{
    display:flex;
    flex-direction:row;
    
}

.medication-items{
    justify-content: space-between;
   
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}